.container {
  width: 100%;
  margin: 0 auto;
  // display: flex;
}
// .option {
//   width: 30%;
// }
.option button {
  display: block;
  width: 120px;
  // height: 30px;
  // margin: 0 0 10px 10px;
}
// .component {
//   width: 70%;
// }
