//button
$primary:#007bff;
$primary-nd:#0062cc;
$secondary: #6c757d;
$secondary-nd: #545b62;
$success: #28a745;
$success-nd:#1e7e34;
$info: #17a2b8;
$info-nd: #117a8b;
$warning: #ffc107;
$warning-nd: #d39e00;
$danger: #dc3545;
$danger-nd: #bd2130;
$light: #f8f9fa;
$light-nd :#dae0e5;
$dark: #343a40;
$dark-nd: #1d2124;
$color: #ffffff;
$color-dark: #000000;
//alert-color
$primary-alert-color: #004085;
$secondary-alert-color: #383d41;
$success-alert-color: #155724;
$danger-alert-color: #721c24;
$warning-alert-color: #856404;
$info-alert-color: #0c5460;
$light-alert-color: #818182;
$dark-alert-color: #1b1e21;
//alert-background
$primary-alert-background: #cce5ff;
$secondary-alert-background: #e2e3e5;
$success-alert-background: #d4edda;
$danger-alert-background: #f8d7da;
$warning-alert-background: #fff3cd;
$info-alert-background: #d1ecf1;
$light-alert-background: #fefefe;
$dark-alert-background: #d6d8d9;
//alert-border
$primary-alert-border: #b8daff;
$secondary-alert-border: #d6d8db;
$success-alert-border: #c3e6cb;
$danger-alert-border: #f5c6cb;
$warning-alert-border: #ffeeba;
$info-alert-border: #bee5eb;
$light-alert-border: #fefefe;
$dark-alert-border: #c6c8ca;
