<nav class="navbar">
  <a href="#" class="navbar-brand">DieuNguyenH.</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav nav">
      <li class="nav-item">
        <a href="#" class="nav-link">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          Link
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <a class="dropdown-item">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disalbed</a>
      </li>
    </ul>
    <div class="form-inline">
      <input type="text" class="form-control" placeholder="Search">
      <button class="btn btn-success">Search</button>
    </div>
  </div>
</nav>
