.btn {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  margin: .2rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-align: center;
  &:focus {
  outline: 0;
  }
}

.btn-primary {
  @include button-variant($primary, $color, $primary);
  &:hover {
    background-color: $primary-nd;
  }
}
.btn-secondary {
  @include button-variant($secondary, $color, $secondary);
  &:hover {
    background-color: $secondary-nd;
  }
}
.btn-success {
  @include button-variant($success, $color, $success);
  &:hover {
    background-color: $success-nd;
  }
}
.btn-danger {
  @include button-variant($danger, $color, $danger);
  &:hover {
    background-color: $danger-nd;
  }
}
.btn-warning {
  @include button-variant($warning, $color, $warning);
  &:hover {
    background-color: $warning-nd;
  }
}
.btn-info {
  @include button-variant($info, $color, $info);
  &:hover {
    background-color: $info-nd;
  }
}
.btn-light {
  @include button-variant($light, $color-dark, $light);
  &:hover {
    background-color: $light-nd;
  }
}
.btn-dark {
  @include button-variant($dark, $color, $dark);
  &:hover {
    background-color: $dark-nd;
  }
}
.btn-link {
  @include button-variant('', $primary, '');
  &:hover {
    background-color: '';
  }
}
