.navbar {
  display: flex;
  padding: 0.25rem 1rem;
  background-color: #f1f1f1;
  border-radius: .25rem;
}
.navbar-collapse, .form-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding: 0.65rem 0;
  margin-right: 1rem;
  font-size: 1.25rem;
}
.navbar-collapse {
  width: 100%;
}
