<div class="container row">
  <div class="option col-3">
    <button class="btn" routerLink="/alert">Alert</button>
    <button class="btn" routerLink="/button">Button</button>
    <button class="btn" routerLink="/breadcrumb">Breadcrumb</button>
    <button class="btn" routerLink="/card">Card</button>
    <button class="btn" routerLink="/grid">Grid</button>
    <button class="btn" routerLink="/badge">Badge</button>
    <button class="btn" routerLink="/dropdown">Dropdown</button>
    <button class="btn" routerLink="/form">Form</button>
    <button class="btn" routerLink="/modal">Modal</button>
    <button class="btn" routerLink="/nav">Nav</button>
    <button class="btn" routerLink="/navbar">Navbar</button>
    <button class="btn" routerLink="/pagination">Pagination</button>
    <button class="btn" routerLink="/progress">Progress</button>
    <button class="btn" routerLink="/spinner">Spinner</button>
  </div>
  <div class="component col-9">
    <router-outlet></router-outlet>
  </div>
</div>
