<div class="spinner-border spinner-primary">
  <span class="spinner">
    Loading
  </span>
</div>
<div class="spinner-border spinner-secondary">
  <span class="spinner">
    Loading
  </span>
</div>
<div class="spinner-border spinner-success">
  <span class="spinner">
    Loading
  </span>
</div>
<div class="spinner-border spinner-warning">
  <span class="spinner">
    Loading
  </span>
</div>
<div class="spinner-border spinner-danger">
  <span class="spinner">
    Loading
  </span>
</div>
<div class="spinner-border spinner-dark">
  <span class="spinner">
    Loading
  </span>
</div>
<div class="spinner-border spinner-light">
  <span class="spinner">
    Loading
  </span>
</div>


